body {
    font-family: Arial;
    background: #e9e9e9;
}

.wrap {
    width: 280px;
    margin: 50px auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
}

button {
    width: 100%;
    padding: 10px;
}
