body {
    font-family: Arial;
    background: #f0f0f0;
}

.container {
    width: 300px;
    margin: 50px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
}

input, button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}
