body {
    background: #000;
    color: #0f0;
    font-family: Arial;
    text-align: center;
}

.header {
    background: #007700;
    padding: 15px;
    font-size: 22px;
    font-weight: bold;
}

.box {
    background: #111;
    padding: 20px;
    margin: 15px;
    border-radius: 10px;
}
